.container-footer-div{
  background-color: 	#7289DA;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.main-container{
  padding: 1.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.twitter-icon{
  width: 4rem ;
  padding: .124rem;
}
.github-link{
  text-decoration: none;
  color: black;
}