body{
  padding: 0;
  margin: 0;
}
.container{
  background-color: 	#7289DA; 
  position: fixed;
  width: 100%;
  overflow-y: visible;
}
.main-div{
  padding: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.github-icon{
  padding: 6px;
}  

@media(min-width: 370px){
  .text-container-grid{
    display: grid;
    grid-template-columns: repeat(2, 50px);
    gap: 2rem;
  }
}  